<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmergencyContacts</key>
	<array>
		<dict>
			<key>Country</key>
			<string>Algeria</string>
			<key>Police</key>
			<string>1548</string>
			<key>Ambulance</key>
			<string>14</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Angola</string>
			<key>Police</key>
			<string>113</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ascension Island</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Benin</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Burundi</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Botswana</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>997</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Burkina Faso</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cameroon</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cape Verde</string>
			<key>Police</key>
			<string>132</string>
			<key>Ambulance</key>
			<string>130</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Central African Republic</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>1220</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Chad</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>2251-4242</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Comoros</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>772-03-73</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Republic of Congo</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>117</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Democratic Republic of Congo</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Djibouti</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>19</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Egypt</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>123</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Equatorial Guinea</string>
			<key>Police</key>
			<string>114</string>
			<key>Ambulance</key>
			<string>115</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Eritrea</string>
			<key>Police</key>
			<string>113</string>
			<key>Ambulance</key>
			<string>114</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Eswatini</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>977</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ethiopia</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Gabon</string>
			<key>Police</key>
			<string>1730</string>
			<key>Ambulance</key>
			<string>1300</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Gambia</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>116</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ghana</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Guinea</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Country</key>
			<string> Guinea-Bissau</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ivory Coast</string>
			<key>Police</key>
			<string>110 </string>
			<key>Ambulance</key>
			<string>185</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Liberia</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Kenya</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Libya</string>
			<key>Police</key>
			<string>1515</string>
			<key>Ambulance</key>
			<string>1515</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Lesotho</string>
			<key>Police</key>
			<string>123</string>
			<key>Ambulance</key>
			<string>121</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Madagascar</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>124</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Malawi</string>
			<key>Police</key>
			<string>997</string>
			<key>Ambulance</key>
			<string>998</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mali</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mauritania</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>101</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mauritius</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>114</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mayotte</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Morocco</string>
			<key>Police</key>
			<string>19</string>
			<key>Ambulance</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mozambique</string>
			<key>Police</key>
			<string>119</string>
			<key>Ambulance</key>
			<string>117</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Namibia</string>
			<key>Police</key>
			<string>10 111</string>
			<key>Ambulance</key>
			<string>10 111</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Niger</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Nigeria</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Réunion</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Rwanda</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>912</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Helena</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Sao Tome and Principe</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Senegal</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Seychelles</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Sierra Leone</string>
			<key>Police</key>
			<string>019</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Somalia</string>
			<key>Police</key>
			<string>888</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>South Africa</string>
			<key>Police</key>
			<string>10 111</string>
			<key>Ambulance</key>
			<string>10 177</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Sudan</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>South Sudan</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tanzania</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>114</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Togo</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>8200</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tristan da Cunha</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tunisia</string>
			<key>Police</key>
			<string>197</string>
			<key>Ambulance</key>
			<string>190</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Uganda</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Western Sahara</string>
			<key>Police</key>
			<string>150</string>
			<key>Ambulance</key>
			<string>150</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Zambia</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Zimbabwe</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Antarctica</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Afghanistan</string>
			<key>Police</key>
			<string>119</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bahrain</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bangladesh</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bhutan</string>
			<key>Police</key>
			<string>113</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>British Indian Ocean Territory</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Brunei</string>
			<key>Police</key>
			<string>993</string>
			<key>Ambulance</key>
			<string>991</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cambodia</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>119</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>China</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>120</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Christmas Island</string>
			<key>Police</key>
			<string>000</string>
			<key>Ambulance</key>
			<string>000</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cocos Islands</string>
			<key>Police</key>
			<string>000</string>
			<key>Ambulance</key>
			<string>000</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>East Timor</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Hong Kong</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>India</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Indonesia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Iran</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>115</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Iraq</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Israel</string>
			<key>Police</key>
			<string>100</string>
			<key>Ambulance</key>
			<string>101</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Japan</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>119</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Jordan</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Kazakhstan</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Democratic Republic of Korea</string>
			<key>Police</key>
			<string>8119</string>
			<key>Ambulance</key>
			<string>8119</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Republic of Korea</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>119</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Kuwait</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Kyrgyzstan</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Laos</string>
			<key>Police</key>
			<string>191</string>
			<key>Ambulance</key>
			<string>195</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Lebanon</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>140</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Macau</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Malaysia</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Maldives</string>
			<key>Police</key>
			<string>119</string>
			<key>Ambulance</key>
			<string>102</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mongolia</string>
			<key>Police</key>
			<string>105</string>
			<key>Ambulance</key>
			<string>105</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Myanmar</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string> Nepal</string>
			<key>Police</key>
			<string>100</string>
			<key>Ambulance</key>
			<string>102</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Oman</string>
			<key>Police</key>
			<string>9999</string>
			<key>Ambulance</key>
			<string>9999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Pakistan</string>
			<key>Police</key>
			<string>15</string>
			<key>Ambulance</key>
			<string>115</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Palestine</string>
			<key>Police</key>
			<string>100</string>
			<key>Ambulance</key>
			<string>101</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Philippines</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Qatar</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saudi Arabia</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Singapore</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>995</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Sri Lanka</string>
			<key>Police</key>
			<string>119</string>
			<key>Ambulance</key>
			<string>110</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Syria</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>110</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Taiwan</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>119</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tajikistan</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Thailand</string>
			<key>Police</key>
			<string>191</string>
			<key>Ambulance</key>
			<string>1669</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Turkmenistan</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>United Arab Emirates</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Uzbekistan</string>
			<key>Police</key>
			<string>102</string>
			<key>Ambulance</key>
			<string>101</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Vietnam</string>
			<key>Police</key>
			<string>113</string>
			<key>Ambulance</key>
			<string>115</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Yemen</string>
			<key>Police</key>
			<string>194</string>
			<key>Ambulance</key>
			<string>191</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Åland Islands</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Albania</string>
			<key>Police</key>
			<string>129</string>
			<key>Ambulance</key>
			<string>127</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Andorra</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>116</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Armenia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Austria</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>144</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Azerbaijan</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Belarus</string>
			<key>Police</key>
			<string>102</string>
			<key>Ambulance</key>
			<string>103</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Belgium</string>
			<key>Police</key>
			<string>101</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bosnia and Herzegovina</string>
			<key>Police</key>
			<string>122</string>
			<key>Ambulance</key>
			<string>124</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bulgaria</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Croatia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cyprus</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Czech Republic</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Denmark</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Estonia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Faroe Islands</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Finland</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>France</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Georgia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Germany</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Gibraltar</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Greece</string>
			<key>Police</key>
			<string>100</string>
			<key>Ambulance</key>
			<string>166</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Greenland</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Guernsey</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Hungary</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Iceland</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ireland</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Isle of Man</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Italy</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Jersey</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Kosovo</string>
			<key>Police</key>
			<string>192</string>
			<key>Ambulance</key>
			<string>194</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Latvia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Lithuania</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Liechtenstein</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>144</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Luxembourg</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Malta</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Moldova</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Monaco</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Montenegro</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Netherlands</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>North Macedonia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Northern Cyprus</string>
			<key>Police</key>
			<string>155</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Norway</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>113</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Poland</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Portugal</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Romania</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Russia</string>
			<key>Police</key>
			<string>102</string>
			<key>Ambulance</key>
			<string>103</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>San Marino</string>
			<key>Police</key>
			<string>113</string>
			<key>Ambulance</key>
			<string>118</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Serbia</string>
			<key>Police</key>
			<string>192</string>
			<key>Ambulance</key>
			<string>194</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Slovakia</string>
			<key>Police</key>
			<string>158</string>
			<key>Ambulance</key>
			<string>155</string>
		</dict>
		<dict>
			<key>Country</key>
			<string> Slovenia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Spain</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Sweden</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Switzerland</string>
			<key>Police</key>
			<string>117</string>
			<key>Ambulance</key>
			<string>144</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Turkey</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ukraine</string>
			<key>Police</key>
			<string>102</string>
			<key>Ambulance</key>
			<string>103</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>United Kingdom</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Vatican City</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>American Samoa</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Australia</string>
			<key>Police</key>
			<string>000</string>
			<key>Ambulance</key>
			<string>000</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cook Islands</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Fiji</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>French Polynesia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Guam</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Kiribati</string>
			<key>Police</key>
			<string>100</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Marshall Islands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Micronesia</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Nauru</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>111</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>New Caledonia</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>New Zealand</string>
			<key>Police</key>
			<string>111</string>
			<key>Ambulance</key>
			<string>111</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Niue</string>
			<key>Police</key>
			<string>4333</string>
			<key>Ambulance</key>
			<string>4202</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Northern Mariana Islands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Palau</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Papua New Guinea</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>111</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Samoa</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Solomon Islands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tokelau</string>
			<key>Police</key>
			<string>2116</string>
			<key>Ambulance</key>
			<string>2112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tonga</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Tuvalu</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Vanuatu</string>
			<key>Police</key>
			<string>111</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Wallis and Futuna</string>
			<key>Police</key>
			<string>15</string>
			<key>Ambulance</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Belize</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Clipperton Island</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Costa Rica</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>El Salvador</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>132</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Guatemala</string>
			<key>Police</key>
			<string>110</string>
			<key>Ambulance</key>
			<string>128</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Honduras</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>195</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Nicaragua</string>
			<key>Police</key>
			<string>118</string>
			<key>Ambulance</key>
			<string>128</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Panama</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Anguilla</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Antigua and Barbuda</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Aruba</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>The Bahamas</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Barbados</string>
			<key>Police</key>
			<string>211</string>
			<key>Ambulance</key>
			<string>511</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bermuda</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>British Virgin Islands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Caribbean Netherlands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cayman Islands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Cuba</string>
			<key>Police</key>
			<string>106</string>
			<key>Ambulance</key>
			<string>104</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Curacao</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>912</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Dominica</string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>999</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Dominican Republic</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Grenada</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Guadeloupe</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Haiti</string>
			<key>Police</key>
			<string>114</string>
			<key>Ambulance</key>
			<string>116</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Jamaica</string>
			<key>Police</key>
			<string>119</string>
			<key>Ambulance</key>
			<string>110</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Martinique</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Montserrat</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Puerto Rico</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Barthélemy</string>
			<key>Police</key>
			<string>18</string>
			<key>Ambulance</key>
			<string>18</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Kitts and Nevis</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Lucia</string>
			<key>Police</key>
			<string>911 </string>
			<key>Ambulance</key>
			<string>911 </string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Martin</string>
			<key>Police</key>
			<string>17</string>
			<key>Ambulance</key>
			<string>15</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Vincent </string>
			<key>Police</key>
			<string>999</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Sint Maarten</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>912</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Trinidad and Tobago</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>811</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Turks and Caicos</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>U.S. Virgin Islands</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Canada</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Mexico</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Saint Pierre and Miquelon</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>United States of America</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Argentina</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Bolivia</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Brazil</string>
			<key>Police</key>
			<string>190</string>
			<key>Ambulance</key>
			<string>192</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Chile</string>
			<key>Police</key>
			<string>133</string>
			<key>Ambulance</key>
			<string>131</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Colombia</string>
			<key>Police</key>
			<string>123</string>
			<key>Ambulance</key>
			<string>123</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Ecuador</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Falkland Islands</string>
			<key>Police</key>
			<string>112 </string>
			<key>Ambulance</key>
			<string>112 </string>
		</dict>
		<dict>
			<key>Country</key>
			<string>French Guiana</string>
			<key>Police</key>
			<string>112</string>
			<key>Ambulance</key>
			<string>112</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Guyana</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>913</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Paraguay</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Peru</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Suriname</string>
			<key>Police</key>
			<string>115</string>
			<key>Ambulance</key>
			<string>115</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Uruguay</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
		<dict>
			<key>Country</key>
			<string>Venezuela</string>
			<key>Police</key>
			<string>911</string>
			<key>Ambulance</key>
			<string>911</string>
		</dict>
	</array>
</dict>
</plist>
