<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookingsLinks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Booking</string>
			<key>Image</key>
			<string>booking</string>
			<key>URL</key>
			<string>https://www.booking.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ebookers</string>
			<key>Image</key>
			<string>ebookers</string>
			<key>URL</key>
			<string>https://www.ebookers.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hotels</string>
			<key>Image</key>
			<string>hotels</string>
			<key>URL</key>
			<string>https://www.hotels.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Agoda </string>
			<key>Image</key>
			<string>agoda</string>
			<key>URL</key>
			<string>https://www.agoda.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hostelworld</string>
			<key>Image</key>
			<string>hostels</string>
			<key>URL</key>
			<string>https://www.hostelworld.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airbnb</string>
			<key>Image</key>
			<string>airbnb</string>
			<key>URL</key>
			<string>https://www.airbnb.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Expedia</string>
			<key>Image</key>
			<string>expedia</string>
			<key>URL</key>
			<string>https://www.expedia.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tripadvisor</string>
			<key>Image</key>
			<string>tripadvisor</string>
			<key>URL</key>
			<string>https://www.tripadvisor.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Priceline</string>
			<key>Image</key>
			<string>priceline</string>
			<key>URL</key>
			<string>https://www.priceline.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Skyscanner</string>
			<key>Image</key>
			<string>sky</string>
			<key>URL</key>
			<string>https://www.skyscanner.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Kayak</string>
			<key>Image</key>
			<string>kayak</string>
			<key>URL</key>
			<string>https://www.kayak.com</string>
		</dict>
	</array>
</dict>
</plist>
